<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redbullmart">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedBullMart">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAjrY2TCG5oPM4PN4UU7-MMxbws8IM6NOE"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"></activity>
        <activity android:name=".register"></activity>
        <activity android:name=".home"></activity>
        <activity android:name=".poin"></activity>
        <activity android:name=".voucher"></activity>
        <activity android:name=".favoritorder"></activity>
        <activity android:name=".profil"></activity>
        <activity android:name=".inbox"></activity>
        <activity android:name=".alamat"></activity>
        <activity android:name=".map"></activity>
        <activity android:name=".pilihminimarket"></activity>
        <activity android:name=".pilihminimarket2"></activity>
        <activity android:name=".ubahpassword"></activity>
        <activity android:name=".metodepembayaran"></activity>
        <activity android:name=".pembayaransukses"></activity>
        <activity android:name=".searchmap"></activity>
        <activity android:name=".pilihbarang"></activity>
        <activity android:name=".pilihbarang2"></activity>
        <activity android:name=".faktur"></activity>
        <activity android:name=".statusorder"></activity>
        <activity android:name=".map1"></activity>

    </application>

</manifest>